<!DOCTYPE html>
<html>
<body>

<form action="" method="post">
First name:<br>
<input type="text" name="aaa" value="Mickey">
<br>
Last name:<br>
<input type="text" name="bbb" value="Mouse">
<br><br>
<input type="text" name="user[a]" value="mm-1">
<input type="text" name="user[b]" value="mm-2">
<input type="text" name="user[c]" value="mm-3">
<input type="text" name="user[d]" value="mm-4">
<input type="text" name="user[e]" value="mm-5">
<input type="text" name="user[f]" value="mm-6">
<br><br>
<input type="submit" value="Submit">
</form> 


</body>
</html>
